html 
    head
        title=title
        style.
            body 
                {
                    background-color:cyan
                }
            table,tr,th,td 
                            {
                                border:1px solid red
                            }
    body
        h1=message
        table
            tr
                th name
                th city
                th depart
            tr
                td=data.name
                td=data.city 
                td=data.depart  